<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                        :style="{'background-color': gameVariables.playerColor, width: gameVariables.playerWidth}">
                        {{gameVariables.playerWidth}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                        :style="{'background-color': gameVariables.monsterColor, width: gameVariables.monsterWidth}">
                        {{gameVariables.monsterWidth}}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!playing">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-if="playing">
            <div class="small-12 columns">
                <button id="attack" @click="action('attack', 'normal', 'monster')">ATTACK</button>
                <button id="special-attack" @click="action('attack','special', 'monster')">SPECIAL ATTACK</button>
                <button id="heal" @click="action('heal','', 'player')">HEAL</button>
                <button id="give-up">GIVE UP</button>
            </div>
        </section>
        <section class="row log" v-if="playing && gameLog.length > 0">
            <div class="small-12 columns">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>


<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            playing: false,
            gameLog: [],
            gameVariables: {
                playerColor: 'green',
                monsterColor: 'green',
                playerWidth: '0%',
                monsterWidth: '0%'
            }
        },
        watch: {
           /*  playerColor: function () {

            },
            monsterColor: function () {

            }, */
        },
        methods: {
            startGame: function () {
                console.log('asl');
                this.resetStats();
            },
            resetStats: function () {
                vm = this;
                vm.playing = true;
                vm.gameLog = [];
                vm.gameVariables = {
                    playerColor: 'green',
                    monsterColor: 'green',
                    playerWidth: '100%',
                    monsterWidth: '100%'
                }
            },
            action: function (action, type, destiny) {
                var vm = this;
                var maxValue = type == "special" ? 17 : 12; /// cambiar por un objeto para el valor minimo y maximo
                var value = 0;

                value = vm.getRandomValue(1, maxValue);
                value = action == 'heal' ? value : value * -1;

                if (destiny == 'player') {
                    vm.gameVariables.playerWidth = vm.applyStats(vm.gameVariables.playerWidth, value);
                    if (action == 'heal') this.action('attack', 'normal', 'player');
                }
                else {
                    vm.gameVariables.monsterWidth = vm.applyStats(vm.gameVariables.monsterWidth, value);
                    this.action('attack', 'normal', 'player');
                }
            },
            getRandomValue: function (min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min;
            },
            applyStats: function(destiny, value){
                destiny = +(destiny.replace('%', '')) + value + '%';
                return destiny
            }
        },
    });
</script>

</html>