<script src="vue.js"></script>
<link rel="stylesheet" href="style.css" />

<div id="app">
  <div class="demo" :style="{'backgroundColor': color}"></div>
  <div class="demo" :style="myStyle"></div>
  <div class="demo":style="[myStyle, {'height': width + 'px'}]"></div>
  <input v-model="color" type="text" />
  <input v-model="width" type="text" />
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      color: 'gray',
      width: 100
    },
    computed: {
      myStyle: function(){
        return {
          backgroundColor: this.color,
          width: this.width + 'px'
        }
      }
    },
  });
</script>
